@media screen and (min-width: 480px) {
	.ui-page {
		width: 480px !important;
		margin: 0 auto !important;
		position: relative !important;
	}
	.ui-footer {
		max-width: 480px;
		margin: 0 auto;
	}
	BODY {
		background-color: #ccc !important;
	}
}

/*
@media screen and (max-width: 360px){
	body,.ui-title,.ui-input-text {
		font-size: 12px !important;
	}
	.ui-btn-inner {
		font-size: 10px !important;
		padding-top: 0.3em !important;
		padding-bottom: 0.3em !important;
	}
	.ui-header .ui-title,.ui-footer .ui-title {
		margin: 0.6em 25% 0.6em !important;
	}
	input.ui-input-text,textarea.ui-input-text {
		padding: 0.3em !important;
	}
}
*/
.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d {
	overflow: visible;
}

.ui-field-contain label.ui-input-text {
	vertical-align: middle;
}

.ui-header .ui-title,.ui-footer .ui-title {
	margin-left: 1em;
	margin-right: 1em;
}

.ui-footer {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.fl {
	float: left;
}

.fr {
	float: right;
}